<!DOCTYPE html>
<html>
<title>E-Sport Acadmey</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Style.css">
<body>

<!-- Sidebar -->
<div class="Sidebar" style="width:20%">
  <center>
	<img src="img\Person_icon.png" alt="Profile_Pic" style="width:60%;padding-top:30px;">
	<br><br><br>
  </center>
  <a href="#" class="Sidebar_Item">Link 1</a>
  <a href="#" class="Sidebar_Item">Link 2</a>
  <a href="#" class="Sidebar_Item">Link 3</a>
</div>

<!-- Page Content -->
<div class="Content_Holder" style="margin-left:20%">

	<div class="Name_Header">
		<br><br><br>
	</div>
	<div class="Content">
		<br><br><br>
	</div>
</div>
      
</body>
</html>
